.wrapper {
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5%;
}

.item{
    display: flex;
    padding: 5%;
    margin: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4%;
    width: 70%;
}

.input {
    border-radius: 3px;
    height: 20px;
    width: 30%;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    border: none;
}

.birthdate-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.birthdate-input>p {
    margin-right: 10px;
    white-space: nowrap;
}

.add{
    background-color: green;
    color: white;
}
