
.wrapper{
    position: absolute;
    width: 50%;
    left: 50%;
    top:100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.row-actions{
    display: flex;
    flex-direction: column;
}

.hstack{
    display: flex;
    flex-direction: row;
}

.delete-row{
    display: flex;
    flex-direction: row;
}


#table-spot{
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    width: 15vw;
}
