header {
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    justify-content: flex-end;
    width: 100%;
    margin-bottom: max(50px, 5%);
}

html, body {
    height: 100%;
    margin: 0;
}

h1 {
    text-align: center;
}

body {
    flex-direction: column;
    min-height: 100%;
    padding: 0;
    width: 100%;
    justify-content: space-evenly;
    font-family: sans-serif;
}

body>div {
    margin-bottom: max(50px, 10%);
}

img {
    max-width: 100%;
}

header>div {
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    font-family: sans-serif;
    margin-right: 5%;
}

header > div > a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.no-wrap {
    white-space: nowrap;
}

.main-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    margin-left: 15%;
    margin-right: 15%;
    padding: 0;
    flex-grow: 2;
}

.product-name {
    font-family: sans-serif;
    font-size: 36px;
    margin-bottom: 5%;
}

.main-banner-text {
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    padding: 50px;
    flex-basis: 50%;
    flex-grow: 1;
}

.main-banner-img {
    position: relative;
}

.who-we-are {
    width: 70%;
    color: grey;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 10%;
}

.buy-button {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #4A607A;
    box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
    border-radius: 6px;
    width: 60%;
    height: 50px;
    padding: 0px 5px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-family: sans-serif;
    color: #0D1C41;
}

.about-defence {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
}

.about-defence>h1 {
    font-family: sans-serif;
}

.stickers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sticker {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 10px;
    box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
    padding: 2% 0;
    border-radius: 20px;
    justify-content: space-around;
    min-height: 10px;
    max-width: 200px;
}

.sticker>p {
    text-align: center;
    font-size: 14;
    line-height: 17px;
    width: 90%;
    font-family: sans-serif;
    margin: 0;
    color: #0D1C41;
    font-weight: 400;
}

.sticker>img {
    margin: 0;
}

.conditions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.condition {
    width: 70%;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.condition-image {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.condition-text {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0;
}

.condition-text-right {
    align-items: center;
}

.condition-text-left {
    align-items: flex-start;
}

.condition-text>p, h2 {
    width: 50%;
    text-align: left;
}

.best-doctor {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}

.best-doctor>img {
    width: 30%;
    max-width: 70px;
    margin-right: 5px;
}

.insurance-case {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
}

.insurance-case-stickers {
    display: flex;
    align-content: stretch;
}

.full-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pdf-button {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #4A607A;
    box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
    border-radius: 6px;
    width: 20%;
    height: 50px;
    padding: 0px 5px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-family: sans-serif;
    color: #0D1C41;
}


footer {
    background: #4A607A;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5% 0;
}

.footer-column > a, .footer-column > p, .footer-column > p > a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.get-there-button {
    background: #FFFFFF;
    border: 1px solid #4A607A;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 50px;
    width: 99%;
    font-size: 16px;
    font-family: sans-serif;
}

@media screen and (max-width: 750px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header>div {
        margin: auto;
    }

    .main-banner-text {
        padding: 15px;
        min-height: 200px;
    }

    .main-banner-img {
        display: none;
    }

    .product-name {
        font-size: 23px;
        margin: 0;
    }

    .who-we-are {
        font-size: 12px;
        margin: 0;
    }

    .condition-image {
        display: none;
    }

    .condition {
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
        justify-content: flex-start;
        margin-top: 10%;
    }

    .condition-text {
        align-items: flex-start;
        text-align: left;
        width: 100%;
    }

    .best-doctor>img {
        width: 40%;
        max-width: 50px;
    }

    .condition-text>p {
        align-items: flex-start;
        text-align: left;
        width: 100%;
    }

    .buy-button {
        font-size: 12px;
        margin-top: 10px;
    }

    .footer-column {
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 0 5%;
    }
}

@media screen and (min-width: 750px) {
    .footer-column {
        width: 40%;
    }

    .main-banner-img {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .footer-column {
        width: 21%;
    }

    .main-banner-img {
        display: flex;
    }
}

@media screen and (min-width: 1200px) {}
